 .modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  position: absolute;
  border: 1px solid #ccc;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);

  overflow: hidden;
  .modal-header {
    background: black;
    opacity: .9;
  }
}